.centerlist {
  width: 70%;
  color: #333;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 1%;
  border: 1px solid #d6d6d6;
  background-color: #dfe7ff;
  padding: 10px;
}
/* table {
  border-collapse: collapse;
  width: 100%;
  color: #333;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 1%;
  border: 1px solid #a5a5a5;
  table-layout: auto; 
} */

/* table tr:nth-child(even) td {
  background-color: #ffffff;
}

table tr:hover td {
  background-color: #dfdfdf;
}

table td {
  background-color: #dfe7ff;
  padding: 10px;
} */

.centername {
  width: 70%;
}

.align-center {
  display: flex !important;
  justify-content: center !important;
}

.align-right {
  display: flex !important;
  justify-content: right !important;
}

.issueButton {
  display: flex !important;
  justify-content: center !important;
  padding: 50px;
}
/* .modelbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 30px;
} */
