.status-cell {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 6px;
}

.status-cell.yellow {
  background-color: #fef9e7;
  color: black;
  border-radius: 5%;
}

.status-cell.green {
  background-color: #7dcea0;
  color: black;
}

.status-cell.red {
  background-color: #d98880;
  color: black;
}
/* .radioGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.radioGroup label {
  margin-left: 10px;
}
.verifyDescription {
  text-align: right;
} */

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 100px;
  width: 50rem;
}

.mainCard {
  /* Default background color */
  background-color: #fef9e7;
}

.mainCard.green {
  /* Background color for Verified status */
  background-color: #7dcea0;
}

.mainCard.red {
  /* Background color for Rejected status */
  background-color: #d98880;
}

.align-center {
  display: flex !important;
  justify-content: center !important;
}

.align-right {
  display: flex !important;
  justify-content: right !important;
}

.bgcolour {
  /* Default background color */
  background-color: #ffffff;
}

.bgcolour.green {
  /* Background color for Verified status */
  background-color: #e7fff2;
}

.bgcolour.red {
  /* Background color for Rejected status */
  background-color: #ffeeec;
}
